 @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

 body {
     position: relative;
     background: linear-gradient(rgba(240, 240, 240, 0.9), rgba(240, 240, 240, 0.9)),  no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: Arial, sans-serif;
 }

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* height: calc(100vh - 60px); */
     /* Subtracting height of the header */
 }

 .header {
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding-right: 20px;
     /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);*/
 }

 .rules {
     font-family: 'Orbitron', sans-serif;
     color: black;
     text-align: justify;
     max-width: 600px;
     /* adjust this to control the text width */
     margin: auto;
     padding: 50px 0;
     /* adds some vertical spacing above and below the text */
 }

 .input-container {
     position: relative;
 }

 .input-container input {
     padding-right: 30px;
     /* Add space for the eye icon */
 }

 .input-container .fas {
     position: absolute;
     right: 10px;
     top: 70%;
     transform: translateY(-50%);
     cursor: pointer;
 }

 #connectButton,
 #startGameButton,
 #enterGuessButton {
     margin-top: 20px;
     padding: 10px 20px;
     font-size: 18px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #connectButton {
     background-color: #008CBA;
 }

 #connectButton .fas {
     margin-right: 10px;
 }

 #startGameButton,
 #enterGuessButton #calculateWinningGuessButton #selectWinnerButton {
     background-color: #008CBA;
 }

 #connectButton:hover {
     background-color: #008CBA;
 }

 #startGameButton:hover,
 #enterGuessButton:hover #calculateWinningGuessButton:hover #selectWinnerButton:hover {
     background-color: #007B9A;
 }

 #guessInput,
 #saltInput {
     margin-top: 20px;
     padding: 10px;
     font-size: 18px;
     opacity: 0.5;
     /* Make inputs opaque when disabled */
 }

 #guessInput:enabled,
 #saltInput:enabled {
     opacity: 1;
     /* Make inputs fully visible when enabled */
 }

 #submissionTitle {
     font-family: 'Pathway Gothic One', sans-serif;
     font-size: 2.5em;
     color: #FFE81F;
     /* The color is a golden yellow, similar to Star Wars titles */
     text-align: center;
     text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
     transform: perspective(300px) rotateX(25deg);
     transform-origin: 50% 100%;
     position: relative;
     overflow: hidden;
     padding: 20px;
     margin: 0 auto;
     letter-spacing: 2px;
 }

 #countdownTimer {
     font-family: 'Pathway Gothic One', sans-serif;
     font-size: 5em;
     color: #FFE81F;
     /* The color is a golden yellow, similar to Star Wars titles */
     text-align: center;
     text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
     transform: perspective(300px) rotateX(25deg);
     transform-origin: 50% 100%;
     position: relative;
     overflow: hidden;
     padding: 20px;
     margin: 0 auto;
     letter-spacing: 2px;
 }